load_module /usr/lib/nginx/modules/ngx_stream_module.so;

worker_processes auto;
pid /run/nginx.pid;

events {}
stream {
    upstream end_host {
        server {{end_host_addr}}:{{end_host_listen_port}};
    }

    server {
        listen {{gateway_listen_port}};
        proxy_pass end_host;
    }
}
